$myFont:'Roboto', sans-serif;
$brown: #a86f3b;
$red: #d94d4d;
$yellow: #e79d3f;
$green: #87ab66;
$blue: #5bb4ca; 
$white: #fff;
$black: #000;
$bgColor0: #808080;
$bgColor1: #414141;
$bgColor2: #2f2f2f;
$width: 100%;
$value: 10px;

