$myFont:'Roboto', sans-serif;
$brown: black;
$red: #d94d4d;
$yellow: #e79d3f;
$green: #87ab66;
$blue: #5bb4ca; 
$white: #fff;
$black: #000;
$bgColor0: #c2c0c0;
$bgColor1: #414141;
$bgColor2: #2f2f2f;
$ticketColor: #d8d8d8;
$ticketColor2: #494847;
$width: 100%;
$value: 10px;


 