 @import "variables";
 @import "preset";
 @media only screen and (min-width: 75em) {
     html {
         font-size: calc(0.5em + 1vw)
     }
     body {
         background: $bgColor1;
     }
     #grid_container {
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: auto;
         height: 100vh
     }
     #top {
         grid-row: 1 / span 5;
         grid-column: 1 / 13;
         display: grid;
         grid-template-columns: repeat(6, 1fr)
     }
     #servingcontainer {
        grid-column: 1 / span 2;
        display: flex;
       flex-direction: row; 
       background: $green;
       section {
           border: 1px solid black;
       }
     } 
     #ticketcontainer {
       grid-column: 3 / span 4;
          display: flex;
         flex-direction: row; 
         :nth-child(1) {
             background: $yellow;
         }
         :nth-child(2) {
            background: $yellow;
        }
        :nth-child(3) {
            background: $yellow;
        }
         :nth-child(2n+4) {
            background: $bgColor2;
          
        }
  
         section {
             width: 200px;
             border: 1px solid black;
    
             
         }
         h1 {
             text-align: center;
             color: white;
             background: inherit!important;
         }
         ul {
             list-style: square;
             color: white;
             background: inherit!important;
         }
         li {
            background: inherit!important;
         }
         br {
            background: inherit!important;
         }
       
         
     }
     .ticket-order {
        background: inherit!important;
     }
     .ticket-id {
        background: inherit!important;
     }
     #middle {
         background: $bgColor2;
         grid-row: 5 / span 5;
         grid-column: 1 / 13;
         display: grid;
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: repeat(1, 1fr)
     }
     .flex_center {
         display: flex;
         align-items: center;
         justify-content: center;
     }
     .queue-circle {
         grid-column: 3 / span 1;
         background: $brown;
         border-radius: 50%;
         width: 200px;
         height: 200px;
         align-self: center;
         border: 10px solid $bgColor1;
         transition: all .6s;
     }
     .serving-circle {
         grid-row: 1/ span 1;
         grid-column: 4 / span 1;
         background: $brown;
         border-radius: 50%;
         width: 200px;
         height: 200px;
         align-self: center;
         border: 10px solid $bgColor1;
         transition: all .6s;
     }
     #queue-light {
         background: $red;
         grid-column: 1 / span 1;
         margin-left: 50%;
         border-radius: 50%;
         width: 100px;
         height: 100px;
         align-self: center;
         transition: all .6s;
     }
     #serving-light {
         grid-column: 6 / span 1;
         background: $green;
         border-radius: 50%;
         width: 100px;
         height: 100px;
         align-self: center;
         transition: all .6s;
     }
     .neon-green {
         -webkit-animation: neon-green 1.5s ease-in-out infinite alternate;
         -moz-animation: neon-green 1.5s ease-in-out infinite alternate;
         animation: neon-green 1.5s ease-in-out infinite alternate;
     }
     .neon-yellow {
         -webkit-animation: neon-yellow 1.5s ease-in-out infinite alternate;
         -moz-animation: neon-yellow 1.5s ease-in-out infinite alternate;
         animation: neon-yellow 1.5s ease-in-out infinite alternate;
     }
     .neon-red {
         -webkit-animation: neon-red 1.5s ease-in-out infinite alternate;
         -moz-animation: neon-red 1.5s ease-in-out infinite alternate;
         animation: neon-red 1.5s ease-in-out infinite alternate;
     }
     @-webkit-keyframes neon-green {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #87ab66, 0 0 70px #87ab66, 0 0 80px #87ab66, 0 0 100px #87ab66, 0 0 150px #87ab66;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #87ab66, 0 0 35px #87ab66, 0 0 40px #87ab66, 0 0 50px #87ab66, 0 0 75px #87ab66;
         }
     }
     @-moz-keyframes neon-green {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #87ab66, 0 0 70px #87ab66, 0 0 80px #87ab66, 0 0 100px #87ab66, 0 0 150px #87ab66;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #87ab66, 0 0 35px #87ab66, 0 0 40px #87ab66, 0 0 50px #87ab66, 0 0 75px #87ab66;
         }
     }
     @keyframes neon-green {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #87ab66, 0 0 70px #87ab66, 0 0 80px #87ab66, 0 0 100px #87ab66, 0 0 150px #87ab66;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #87ab66, 0 0 35px #87ab66, 0 0 40px #87ab66, 0 0 50px #87ab66, 0 0 75px #87ab66;
         }
     }
     @-webkit-keyframes neon-yellow {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $yellow, 0 0 70px $yellow, 0 0 80px $yellow, 0 0 100px $yellow, 0 0 150px $yellow;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $yellow, 0 0 35px $yellow, 0 0 40px $yellow, 0 0 50px $yellow, 0 0 75px $yellow;
         }
     }
     @-moz-keyframes neon-yellow {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $yellow, 0 0 70px $yellow, 0 0 80px $yellow, 0 0 100px $yellow, 0 0 150px $yellow;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $yellow, 0 0 35px $yellow, 0 0 40px $yellow, 0 0 50px $yellow, 0 0 75px $yellow;
         }
     }
     @keyframes neon-yellow {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $yellow, 0 0 70px $yellow, 0 0 80px $yellow, 0 0 100px $yellow, 0 0 150px $yellow;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $yellow, 0 0 35px $yellow, 0 0 40px $yellow, 0 0 50px $yellow, 0 0 75px $yellow;
         }
     }
     @-webkit-keyframes neon-red {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $red, 0 0 70px $red, 0 0 80px $red, 0 0 100px $red, 0 0 150px $red;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $red, 0 0 35px $red, 0 0 40px $red, 0 0 50px $red, 0 0 75px $red;
         }
     }
     @-moz-keyframes neon-red {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $red, 0 0 70px $red, 0 0 80px $red, 0 0 100px $red, 0 0 150px $red;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $red, 0 0 35px $red, 0 0 40px $red, 0 0 50px $red, 0 0 75px $red;
         }
     }
     @keyframes neon-red {
         from {
             box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $red, 0 0 70px $red, 0 0 80px $red, 0 0 100px $red, 0 0 150px $red;
         }
         to {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $red, 0 0 35px $red, 0 0 40px $red, 0 0 50px $red, 0 0 75px $red;
         }
     }
     #ticketcontainer {
         /*      position: absolute;
        top: 20%;
        left: 10%;
        width: 200px;
        height: 200px; */
     }
 }